{{ 'cart-drawer.css' | asset_url | stylesheet_tag }}

<div id="CartDrawer" class="drawer drawer--right">
    <div class="drawer__header text-center">
      <div class="drawer__title h5 bold">Your Cart</div>
      <div class="drawer__close js-drawer-close">
        {% render 'icon-close' %}
      </div>
      {%- comment -%}
      <div class="shipping-mot">
        <div class="free-ship">Congrats! You've earned free shipping</div>
        <div class="mot-text bold" style="display: none;">You're only <span class="cart-total-mot"></span> away from free shipping</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
      </div>
      {%- endcomment -%}
    </div>
    <div id="CartContainer"></div>
    <div class="clearfix"></div>

  <div class="upsell-header text-center">Complete your routine:</div>
   {% for product in collections.cart-upsell.products %}
    {% assign first_variant = product.first_available_variant %}
  {% if product.available %}
  <form data-cart-submit class="upsell-form {{ product.title | handleize }} var-{{ first_variant.id }}" data-upsell="{{ product.title | handleize }}" action="/cart/add" method="post" enctype="multipart/form-data">
        <input type="hidden" name="return_to" value="back" />
        <div class="grid grid--half-gutters">
        <div class="grid__item three-tenths ajaxcart__product-image-wrapper">
          <img class="grid-view-item__image js-image-swap" src="{{ product.featured_image.src | img_url: '120x' }}" alt="{{ product.featured_image.alt }}">
        </div>
        <div class="grid__item seven-tenths ajaxcart__product-right">
          <div class="ajaxcart__product-name"><a href="{{ product.url }}"><div class="bold">{{ product.title | split:'/' | first }}</div><div class="subtitle">{{ product.title | split:'/' | last }}</div></a></div>
          <input type="hidden" class="product-select" name="id" value="{{ first_variant.id }}"/>
          <button class="btn btn--secondary btn--small" type="submit" name="add" data-cart-add="{{ product.variants.first.id }}">Add <span class="cart-divider">|</span> <span class="price">{{ product.price | money }}</span></button>
        </div>
      </div>
  </form>
  {% endif %}
  {% endfor %}
  </div>