<style>
  .hero-banner {
    padding: {{ section.settings.hero-vertical_spacing_desk }}px 0;
  }
  .hero-banner .main-container {
    padding: 0 {{ section.settings.hero-horizantal_spacing_desk }}px;
  }
  .hero-banner .alpha {
    max-width: {{ section.settings.hero-text_side_width }}%;
    flex: {{ section.settings.hero-text_side_width }}%;
  }
  .hero-banner .beta {
    max-width: {{ section.settings.hero-image_side_width }}%;
    flex: {{ section.settings.hero-image_side_width }}%;
  }
  .consultation-section {
    padding: {{ section.settings.consult-vertical_spacing_desk }}px 0;
  }
  .consultation-section .main-container {
    padding: 0 {{ section.settings.consult-horizantal_spacing_desk }}px;
  }
  .consultation-section .alpha {
    max-width: {{ section.settings.consult-text_side_width }}%;
    flex: {{ section.settings.consult-text_side_width }}%;
  }
  .consultation-section .beta {
    max-width: {{ section.settings.consult-image_side_width }}%;
    flex: {{ section.settings.consult-image_side_width }}%;
  }
  .purchase-section {
    padding: {{ section.settings.purchase-vertical_spacing_desk }}px 0;
  }
  .purchase-section .main-container {
    padding: 0 {{ section.settings.purchase-horizantal_spacing_desk }}px;
  }
  .purchase-section .alpha {
    max-width: {{ section.settings.purchase-text_side_width }}%;
    flex: {{ section.settings.purchase-text_side_width }}%;
  }
  .purchase-section .beta {
    max-width: {{ section.settings.purchase-image_side_width }}%;
    flex: {{ section.settings.purchase-image_side_width }}%;
  }

  @media screen and (max-width: 768px) {
    .hero-banner {
      padding: {{ section.settings.hero-vertical_spacing_mob }}px 0;
    }
    .hero-banner .main-container {
      padding: 0 {{ section.settings.hero-horizantal_spacing_mob }}px;
    }
    .consultation-section {
      padding: {{ section.settings.consult-vertical_spacing_mob }}px 0;
    }
    .consultation-section .main-container {
      padding: 0 {{ section.settings.consult-horizantal_spacing_mob }}px;
    }
    .purchase-section {
      padding: {{ section.settings.purchase-vertical_spacing_mob }}px 0;
    }
    .purchase-section .main-container {
      padding: 0 {{ section.settings.purchase-horizantal_spacing_mob }}px;
    }
  }
</style>

<div class="image-with-text {% if section.settings.hero_banner %}hero-banner{% endif %} {% if section.settings.consultation %}consultation-section{% endif %} {% if section.settings.purchase %}purchase-section{% endif %}" style="background-color: {{ section.settings.bg_color }}">
  <div class="main-container">
    <div class="wrapper {% unless section.settings.img_alignment %}alignment{% endunless %}">
      <div class="alpha" style="background-color: {{ section.settings.content_bg_color }}">
        <div class="content-wrap">
          {% if section.settings.sub_title != blank %}
            <h4 class="sub-title">{{ section.settings.sub_title }}</h4>
          {% endif %}
          {% if section.settings.main_title != blank %}
            <h2 class="main_title">{{ section.settings.main_title }}</h2>
          {% endif %}
          {% if section.settings.text != blank %}
            <div class="text">{{ section.settings.text }}</div>
          {% endif %}
          {% if section.settings.btn_text != blank %}
            <a href="{{ section.settings.btn_url }}" class="button-primary rounded-button" style="background-color: {{ section.settings.btn_bg_color }}">{{ section.settings.btn_text }}</a>
          {% endif %}
          {% for block in section.blocks %}
            {% if block.settings.link_text != blank %}
              <a href="{{ block.settings.link_url }}" class="link">{{ block.settings.link_text }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="beta">
        {% if section.settings.image != blank %}
          <div class='image-wrap'>
            {% render 'responsive--image' with section.settings.image as image, max_width: 800px, class: 'image' %}
          </div>
        {% endif %}
        {% if section.settings.show_overlay_img %}
          {% if section.settings.overlay_img != blank %}
            <div class='overlay-image'>
              {% render 'responsive--image' with section.settings.overlay_img as image, max_width: 320px, class: 'overlay-image' %}
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image With Text",
  "settings": [
    {
      "type": "header",
      "content": "Choose the option",
      "info": "-------"
    },
    {
      "type": "checkbox",
      "id": "hero_banner",
      "label": "Hero Banner",
      "default": true,
      "info": "Take The Section As A Hero Banner"
    },
    {
      "type": "checkbox",
      "id": "consultation",
      "label": "Consultation Section",
      "default": false,
      "info": "Take The Section As A Consultation Section"
    },
    {
      "type": "checkbox",
      "id": "purchase",
      "label": "Purchase Section",
      "default": false,
      "info": "Take The Section As A Purchase Section"
    },
    {
      "type": "checkbox",
      "id": "img_alignment",
      "label": "Image Alignment Right",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_overlay_img",
      "label": "Show Overlay Image",
      "default": false
    },
    {
      "type": "header",
      "content": "For Hero Banner",
      "info": "-------"
    },
    {
      "type": "header",
      "content": "Space Around Section",
      "info": "-------"
    },
    {
      "type": "range",
      "id": "hero-horizantal_spacing_desk",
      "label": "Left Right Spacing (Desktop)",
      "min": 0,
      "max": 30,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "hero-horizantal_spacing_mob",
      "label": "Left Right Spacing (Mobile)",
      "min": 0,
      "max": 20,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "hero-vertical_spacing_desk",
      "label": "Top Bottom Spacing (Desktop)",
      "min": 0,
      "max": 90,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "hero-vertical_spacing_mob",
      "label": "Top Bottom Spacing (Mobile)",
      "min": 0,
      "max": 50,
      "step": 5,
      "default": 0
    },
    {
      "type": "header",
      "content": "Width Of Component",
      "info": "-------"
    },
    {
      "type": "range",
      "id": "hero-text_side_width",
      "label": "Text Side Width",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 50
    },
    {
      "type": "range",
      "id": "hero-image_side_width",
      "label": "Image Side Width",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 50
    },
    {
      "type": "header",
      "content": "For Consultant section",
      "info": "-------"
    },
    {
      "type": "header",
      "content": "Space Around Section",
      "info": "-------"
    },
    {
      "type": "range",
      "id": "consult-horizantal_spacing_desk",
      "label": "Left Right Spacing (Desktop)",
      "min": 0,
      "max": 30,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "consult-horizantal_spacing_mob",
      "label": "Left Right Spacing (Mobile)",
      "min": 0,
      "max": 20,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "consult-vertical_spacing_desk",
      "label": "Top Bottom Spacing (Desktop)",
      "min": 0,
      "max": 90,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "consult-vertical_spacing_mob",
      "label": "Top Bottom Spacing (Mobile)",
      "min": 0,
      "max": 50,
      "step": 5,
      "default": 0
    },
    {
      "type": "header",
      "content": "Width Of Component",
      "info": "-------"
    },
    {
      "type": "range",
      "id": "consult-text_side_width",
      "label": "Text Side Width",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 50
    },
    {
      "type": "range",
      "id": "consult-image_side_width",
      "label": "Image Side Width",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 50
    },
    {
      "type": "header",
      "content": "For Purchase Section",
      "info": "-------"
    },
    {
      "type": "header",
      "content": "Space Around Section",
      "info": "-------"
    },
    {
      "type": "range",
      "id": "purchase-horizantal_spacing_desk",
      "label": "Left Right Spacing (Desktop)",
      "min": 0,
      "max": 30,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "purchase-horizantal_spacing_mob",
      "label": "Left Right Spacing (Mobile)",
      "min": 0,
      "max": 20,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "purchase-vertical_spacing_desk",
      "label": "Top Bottom Spacing (Desktop)",
      "min": 0,
      "max": 90,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "purchase-vertical_spacing_mob",
      "label": "Top Bottom Spacing (Mobile)",
      "min": 0,
      "max": 50,
      "step": 5,
      "default": 0
    },
    {
      "type": "header",
      "content": "Width Of Component",
      "info": "-------"
    },
    {
      "type": "range",
      "id": "purchase-text_side_width",
      "label": "Text Side Width",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 50
    },
    {
      "type": "range",
      "id": "purchase-image_side_width",
      "label": "Image Side Width",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 50
    },
    {
      "type": "header",
      "content": "Image",
      "info": "-------"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "overlay_img",
      "label": "Overlay Image"
    },
    {
      "type": "header",
      "content": "Color",
      "info": "-------"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "info": "Use Background Color In Consultation Section"
    },
    {
      "type": "color",
      "id": "content_bg_color",
      "label": "Text Side Background Color"
    },
    {
      "type": "color",
      "id": "btn_bg_color",
      "label": "Button Background Color"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    },
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title"
    },
    {
      "type": "html",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Url"
    }
  ],
  "blocks": [
    {
      "name": "Link",
      "type": "link",
      "settings": [
        {
          "type": "header",
          "content": "Content",
          "info": "-------"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image With Text",
      "category": "Image With Text"
    }
  ]
}
{% endschema %}